
@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<meta name="description" content="Roomie: A beautiful, fluid web-app that makes communication with your room mates easy." />
	<title>Roomie</title>
	@Styles.Render("~/bundle/Content/css")
</head>
<body>
	<noscript><h1>Roomie requires javascript.</h1></noscript>
	@Scripts.Render("~/bundle/Scripts/js")
	@Scripts.Render("~/bundle/Scripts/ts")
	<!-- SignalR -->
	<script src="~/signalr/hubs"></script>
</body>
</html>
