
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Roomie</title>
	@Styles.Render("~/bundle/Content/css")
</head>
<body>
    <noscript><h1>Roomie requires javascript.</h1></noscript>
	@Scripts.Render("~/bundle/Scripts/js")
	@Scripts.Render("~/bundle/Scripts/ts")
</body>
</html>
