
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Roomie</title>
</head>
<body>
    <h1>Hi.</h1>
	<h2>You've reached Roomie.</h2>
	<h3>Bye...</h3>
</body>
</html>
