@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular-webfont.eot');
	src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
		 url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
		 url('../fonts/OpenSans-Regular-webfont.svg#open_sanslight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Light-webfont.eot');
	src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
		 url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
		 url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-ExtraBold-webfont.eot');
	src: url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
		 url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
		 url('../fonts/OpenSans-ExtraBold-webfont.svg#open_sanslight') format('svg');
	font-weight: 900;
	font-style: normal;
}

/* Some functions ... */
.css-gradient-vertical(@from: #20416A, @to: #3D69A5) {
	background-color: @to;
	background-image: -webkit-gradient(linear, left top, left bottom, from(@from), to(@to));
	background-image: -webkit-linear-gradient(top, @from, @to);
	background-image: -moz-linear-gradient(top, @from, @to);
	background-image: -o-linear-gradient(top, @from, @to);
	background-image: -ms-linear-gradient(top, @from, @to);
	background-image: linear-gradient(top, @from, @to);
}
.css-gradient-horizontal(@from: #20416A, @to: #3D69A5) {
	background-color: @to;
	background-image: -webkit-gradient(linear, left middle, right middle, from(@from), to(@to));
	background-image: -webkit-linear-gradient(left, @from, @to);
	background-image: -moz-linear-gradient(left, @from, @to);
	background-image: -o-linear-gradient(left, @from, @to);
	background-image: -ms-linear-gradient(left, @from, @to);
	background-image: linear-gradient(left, @from, @to);
}
.transition(@transition) {
	-webkit-transition: @transition;
	-moz-transition: @transition;
	-o-transition: @transition;
	transition: @transition;
}
.transform(@transform) {
	-webkit-transform: @transform;
	-moz-transform: @transform;
	-ms-transform: @transform;
	-o-transform: @transform;
	transform: @transform;
}
.scale_transform_transition(@transform_transition) {
	-webkit-transition: -webkit-transform @transform_transition;
	-moz-transition: -moz-transform @transform_transition;
	-o-transition: -o-transform @transform_transition;
	transition: transform @transform_transition;
}
.transform_origin(@transform-origin) {
	-webkit-transform-origin: @transform-origin;
	-moz-transform-origin: @transform-origin;
	-ms-transform-origin: @transform-origin;
	-o-transform-origin: @transform-origin;
	transform-origin: @transform-origin;
}

/* Colors */
@gradient-start-color: #4caeff;
@gradient-end-color: #69ff4c;

/* Media Query Breakpoints */
@bp-sm: 480px;
@bp-med: 768px;

/* Metro IE viewport fix */
@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

html {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}
body {
	background-color:#000;
	color:#fff;
	font-family:'Open Sans';
	/* Scrollbar styles for IE */
	scrollbar-base-color:@gradient-end-color;
	scrollbar-face-color:@gradient-end-color;
	scrollbar-track-color:#000;
	scrollbar-arrow-color:@gradient-end-color;
	scrollbar-darkshadow-color:#808080;
}
/* Scrollbars for webkit browsers */
::-webkit-scrollbar {
	width:12px;
	background-color:transparent;
}
::-webkit-scrollbar-thumb {
	background-color:@gradient-end-color;
}
::-webkit-scrollbar-button {
	color: @gradient-end-color;
}

/* Input Styles */
input {
	&:hover {
		opacity:1;
	}
	&:focus {
		opacity:1;
		border-color: @gradient-start-color;
	}
	&.error {
		border-bottom-color:red;
	}
	font-family: 'Open Sans';
	font-weight: 100;
	opacity:0.65;
	color:#fff;
	font-size:15px;
	background-color:transparent;
	border:none;
	border-bottom: 2px solid #fff;
	padding:5px 6px;
	margin:14px 8px;
	.transition(opacity 200ms ease-out, border-color 200ms ease-out;);
}

input[type=submit]
{
	&:hover {
		opacity:1;
	}
	cursor:pointer;
	color: @gradient-end-color;
	font-family: 'Open Sans';
	font-weight: normal;
	font-size:15px;
	text-decoration: none;
	text-transform: lowercase;
	background-color:transparent;
	border:0;
	margin:3px;
	opacity:0.65;
	.transition(opacity 200ms ease-out);
}

button {
	&:hover {
		opacity:1.0;
	}
	&.default {
		border-bottom:2px dotted @gradient-end-color;
	}
	font-family:'Open Sans';
	font-size:20px;
	background-color:transparent;
	color: @gradient-end-color;
	border:none;
	cursor: pointer;
	padding:2px 8px;
	opacity:0.7;
	.transition(opacity 200ms ease-out);
}

a {
	&:hover {
		opacity:1.0;
	}
	color:@gradient-end-color;
	text-decoration:none;
	opacity:0.7;
	.transition(opacity 200ms ease-out);
}

/* Global Progress Indicator */
@-moz-keyframes progress-indicator {
	from {
		background-position-x:0px;
	}
	to {
		background-position-x:48px;
	}
}

@-webkit-keyframes progress-indicator {
	from {
		background-position-x:0px;
	}
	to {
		background-position-x:48px;
	}
}

@keyframes progress-indicator {
	from {
		background-position-x:0px;
	}
	to {
		background-position-x:48px;
	}
}

@progressheight: 18px;
div.progress {
	&.closed {
		top:-@progressheight;
		opacity:0;
	}
	position:fixed;
	top:0;
	left:0;
	right:0;
	height:@progressheight;
	background: url(../svg/progress_stripe.svg);
	z-index:1000; // Always on top
	opacity:0.6;
	animation-name: progress-indicator;
	-webkit-animation-name: progress-indicator;
	animation-duration:1600ms;
	-webkit-animation-duration:1600ms;
	animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
	animation-direction:normal;
	-webkit-animation-direction:normal;
	animation-timing-function:linear;
	-webkit-animation-timing-function:linear;
	animation-play-state:running;
	-webkit-animation-play-state:running;
	.transition(top 200ms cubic-bezier(0.165, 0.840, 0.440, 1.000), opacity 200ms cubic-bezier(0.165, 0.840, 0.440, 1.000);); 
}

/* Default page container. */
div.page {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	a.back {
		&:hover {
			opacity: 1.0;
		}

		&:active {
			opacity: 1.0;
			background-color: #fff;
			background-image: url(../svg/arrow_back_black.svg);
		}

		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 48px;
		height: 48px;
		z-index: 5; // Above the title text
		border: 3px solid #fff;
		border-radius: 28px;
		background-color: transparent;
		background-image: url(../svg/arrow_back_white.svg);
		background-size: 32px;
		background-repeat: no-repeat;
		background-position: 8px 8px;
		cursor: pointer;
		opacity: 0.5;
		.transition(opacity 200ms ease-out);
	}

	h1.title {
		@media (max-width: @bp-med) {
			position: absolute;
			top:-4px;
			left:0;
			.transform(none);
			font-size:48px;
			margin:0 0 0 64px;
		}

		position: absolute;
		top: 0;
		right: 100%;
		font-family: 'Open Sans';
		font-size: 116px;
		.transform(rotate(-90deg) translateY(-36px));
		.transform_origin(right top);
		opacity: 0.5;
		margin: 72px 0 0 0;
		padding: 0;
		font-weight: 100;
		text-transform: lowercase;
		white-space: nowrap;
	}
}

/* Dark overlay to render something on top of */
div.darkOverlay {
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:#000;
	opacity:0.8;
	z-index:10; // Objects rendered on top of this have to have a larger z-index. 
}

/* Default dialog container. */
div.dialog {
	position:fixed;
	top:0;
	width:800px;
	left:50%;
	margin-left:-400px;
	bottom:0;
	background-color:#000;
	z-index:15;

	@media (max-width: @bp-med) {
		top:0;
		bottom:0;
		left:0;
		right:0;
		margin:0;
		width:auto;
		height:auto;
	}

	h1 {
		font-family:'Open Sans';
		font-weight:100;
		font-size:80px;
		text-transform:lowercase;
		margin:0 16px;
		height:96px;
		padding-top:24px;
		line-height:1;
	}
	div.separator {
		height:6px;
		width:100%;
		.css-gradient-horizontal(@gradient-start-color, @gradient-end-color);
	}
	div.content {
		height:calc(~"100% - 248px");
		padding:2px 32px;
	}
	ul.actions {
		height:64px;
		margin-bottom:64px;
		text-align:center;
		margin:0;
		padding:0;
		li {
			list-style-type:none;
			display:inline-block;
			margin:0;
			padding:0 18px;
		}
	}
}

/* Log In Dialog */
#LogIn {
	width:480px;
	height:200px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin:-100px 0 0 -240px;

	@media (max-width: @bp-med) {
		position: absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		margin:0;
		width:auto;
		height:auto;
		text-align:center;
		overflow-y:auto;
	}

	h1 {
		display:block;
		font-family: 'Open Sans';
		font-weight: 100;
		font-size: 60px;
		margin:56px 0 0 0;
		float:left;

		@media (max-width: @bp-med) {
			float:none;
			text-align:center;
		}
	}
	div.separator {
		height:100%;
		width:3px;
		margin:0 16px 0 32px;
		float:left;
		.css-gradient-vertical(@gradient-start-color,@gradient-end-color);
		@media (max-width: @bp-med) {
			float:none;
			height:3px;
			width:100%;
			margin:8px 0px;
			.css-gradient-horizontal(@gradient-start-color,@gradient-end-color);
		}
	}
	form {
		display:block;
		margin-top:20px;
		float:left;
		@media (max-width: @bp-med) {
			float:none;
		}

		input {
			width:200px;
			font-size:20px;
			.transition(opacity 200ms ease-out);
		}
	}
	a.register {
		color: @gradient-end-color;
		font-size:12px;
		text-decoration: none;
	}
}

/* Register Dialog */
#Register {
	width:360px;
	height:250px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin:-125px 0 0 -180px;
	
	input[type=submit] {
		position:absolute;
		right:0;
		top:112px;
		font-size:22px;
	}
}

h1.listTitle {
	font-family:'Open Sans';
	font-weight:900;
	font-size:30px;
	text-transform:uppercase;
	padding:0;
	margin:32px 0 6px 12px;
	div.gradient {
		float:left;
		display:block;
		height:34px;
		width:10px;
		margin:4px 12px 0 8px;
		.css-gradient-vertical(@gradient-start-color,@gradient-end-color);
	}
}

#MeTile {
	&:hover {
		opacity:1;
		.meText {
			opacity:1;
		}
		.dimmer {
			opacity:0.6;
		}
	}
	.dimmer {
		position:absolute;
		top:0;
		left:0;
		bottom:0;
		right:0;
		background-color:black;
		opacity:0;
		.transition(opacity 300ms ease-out);
	}
	.meText {
		display:block;
		position:absolute;
		top:0;
		right:0;
		left:0;
		bottom:0;
		font-family:'Open Sans';
		font-weight:900;
		font-size:18px;
		text-align:center;
		text-decoration:none;
		text-transform:lowercase;
		line-height:2.5;
		color:@gradient-end-color;
		opacity:0;
		.transition(opacity 300ms ease-out);
	}
	z-index:10;
	position:absolute;
	right:20px;
	top:20px;
	width:48px;
	height:48px;
	/* background-image:url(../img/me_temp.jpg); */
	background-color:@gradient-end-color;
	background-size:contain;
	opacity:0.6;
	.transition(opacity 300ms ease-out);
}

#PadsList {
	width: 300px;
	position: absolute;
	left: 128px;
	height: 100%;

	@media (max-width: @bp-med) {
		left:0px;
		right:0px;
		top:32px;
	}

	div.invites {
		margin-left: 32px;
		cursor: pointer;
		line-height: 3;

		a.inviteButton {
			&:hover {
				opacity: 1.0;
			}

			&:active {
				opacity: 1.0;
				background-color: #fff;
				background-image: url(../svg/icon_add_pad_black.svg);
			}

			display: block;
			float: left;
			width: 40px;
			height: 40px;
			border: 3px solid #fff;
			margin-right: 8px;
			border-radius: 26px;
			background-color: transparent;
			background-image: url(../svg/icon_add_pad_white.svg);
			background-size: 26px;
			background-repeat: no-repeat;
			background-position: 7px 6px;
			opacity: 0.5;
			.transition(opacity 200ms ease-out);
		}
	}

	ul {
		margin: 28px 0 0 32px;
		padding: 0;

		li.add {
			margin-left: 4px;
			opacity: 0.2;
			.transition(opacity 300ms ease-out);

			&:hover {
				opacity: 1;
			}

			&:active {
				a {
					background-color: #fff;
					background-image: url(../svg/plus_black.svg);
				}
			}
			/* Plus Button */
			a {
				&:active {
					background-color: #fff;
					background-image: url(../svg/icon_add_pad_black.svg);
				}

				float: left;
				width: 36px;
				height: 36px;
				background-image: url(../svg/icon_add_pad_white.svg);
				background-size: 24px;
				background-position: 6px 6px;
				background-repeat: no-repeat;
				border: 3px solid #fff;
				border-radius: 24px;
			}

			.desc {
				float: left;
				height: 100%;
				padding: 12px 0 0 12px;
				font-family: 'Open Sans';
				font-weight: 100;
				font-size: 16px;
			}
		}

		li.invite {
			list-style-type: none;
			display: block;
			width: 100%;
			height: 48px;
			margin: 16px 0;

			img {
				float: left;
				width: 48px;
				height: 48px;
				background-color: @gradient-start-color;
				margin-right: 8px;
			}

			.desc {
				float: left;
				width: calc(~"100% - 56px");
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;

				.title {
					.invtext {
						font-weight: 100;
					}

					font-size: 18px;
					font-weight: 900;
				}

				button {
					font-size: 15px;
				}
			}
		}

		li {
			&[class=pad]:hover {
				.transform(scale(1.1));
			}

			cursor: pointer;
			list-style-type: none;
			display: block;
			width: 100%;
			height: 48px;
			margin: 16px 0;
			.scale_transform_transition(300ms cubic-bezier(0.075, 0.820, 0.165, 1.000));
			/* Normal pad listings ... */
			img {
				float: left;
				width: 48px;
				height: 48px;
				background-color: @gradient-end-color;
				margin-right: 8px;
			}

			div.desc {
				float: left;
				height: 100%;

				.address {
					font-family: 'Open Sans';
					font-weight: 900;
					font-size: 18px;
					color: #fff;
				}

				.stats {
					font-family: 'Open Sans';
					font-weight: 100;
					font-size: 14px;
					text-transform: lowercase;
					color: #fff;
				}
			}
		}
	}
}

#NewsList {
	position:absolute;
	left:428px;
	right:0;
	height:100%;
	@media (max-width: @bp-med) {
		display:none;
	}
}

ul.invitelist {
	margin:24px 24px 6px 24px;
	padding:0;
	li {
		list-style-type:none;
		margin:8px 0;
		div.info {
			display:inline-block;
			margin-right:24px;
			span.name {
				font-family:'Open Sans';
				font-weight:900;
			}
		}
		div.actions {
			display:inline-block;
			margin:4px 0;
			button {
				font-size:18px;
			}
		}
	}
}

#NewPad {
	width:360px;
	height:130px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin:-65px 0 0 -180px;
	
	input[type=submit] {
		position:absolute;
		right:0;
		top:50px;
		font-size:22px;
	}
}

#MeDialog {
	div.usericon {
		font-family:'Open Sans';
		font-weight:100;
		font-size:32px;
		line-height:96px;
		height:96px;
		margin:32px;
		input.displayname {
			font-size:32px;
		}
		img {
			display:block;
			float:left;
			width:96px;
			height:96px;
			margin-right:12px;
			border-left-width:16px;
			border-left-style:solid;
			background-color:#323232;
		}
	}
}

/* Pad Hub */
#MatesList {
	width: 220px;
	position: absolute;
	left: 128px;
	height: 100%;
	overflow: visible;

	@media (max-width: @bp-med) {
		display: none;
	}

	ul {
		height: calc(~"100% - 98px");
		overflow-x: hidden;
		overflow-y: auto;
		margin: 28px 0 0 32px;
		padding: 0;

		li.add {
			margin-left: 4px;
			opacity: 0.2;
			.transition(opacity 300ms ease-out);

			&:hover {
				opacity: 1;
			}

			&:active {
				a {
					background-color: #fff;
					background-image: url(../svg/plus_black.svg);
				}
			}
			/* Plus Button */
			a {
				&:active {
					background-color: #fff;
					background-image: url(../svg/plus_black.svg);
				}

				float: left;
				width: 36px;
				height: 36px;
				background-image: url(../svg/plus_white.svg);
				background-size: 24px;
				background-position: 6px 6px;
				background-repeat: no-repeat;
				border: 3px solid #fff;
				border-radius: 24px;
			}

			.desc {
				float: left;
				height: 100%;
				padding: 12px 0 0 12px;
				font-family: 'Open Sans';
				font-weight: 100;
				font-size: 16px;
			}
		}

		li {
			&.typing {
				.transform(translate3d(12px,0,0));
			}
			&.offline {
				div.name {
					opacity:0.4;
				}
			}

			&[class=mate]:hover {
				.transform(scale(0.95));
			}

			cursor: pointer;
			list-style-type: none;
			display: block;
			width: 100%;
			height: 42px;
			margin: 16px 0;
			.scale_transform_transition(300ms cubic-bezier(0.075, 0.820, 0.165, 1.000));
			/* Normal user listings ... */
			div.usericon {
				width: 42px; // width of img + border
				height: 42px; // height of img.
				//box-sizing:border-box;
				border-left-style: solid;
				border-left-width: 6px;
				//overflow:auto;
				float: left;

				img {
					box-sizing: border-box;
					float: right;
					width: 42px;
					height: 42px;
					/* background-color: @gradient-end-color; */
					background-color: #323232;
					border:0;
					//border-bottom-style:solid;
					//border-bottom-width:4px;
				}
			}

			div.name {
				float: left;
				margin-left: 8px;
				height: 100%;
				line-height: 1.9;
				width: calc(~"100% - 58px");
				font-family: 'Open Sans';
				font-weight: 100;
				font-size: 20px;
				color: #fff;
				overflow-x: hidden;
			}
		}
	}
}
#ChatPane {
	position:absolute;
	left:348px;
	width:400px;
	/* height:100%; */
	top:0;
	bottom:64px;

	@media (max-width: @bp-med) {
		left:0;
		top:32px;
		right:0;
		bottom:32px;
		width:auto;
	}

	ul.chatlist {
		height: calc(~"100% - 134px");
		overflow-y:auto;
		margin:28px 4px 4px 16px;
		padding:0;
		
		li {
			position:relative;
			display:block;
			list-style-type:none;
			/* background-color:darken(@gradient-end-color,15%); */
			color:#fff;
			font-family:'Open Sans';
			overflow:auto;
			margin:10px 4px;
			padding:6px 10px;

			&:first-child {
				margin-top:0;
			}
			&:last-child {
				margin-bottom:0;
			}
			div.idstrip {
				position:absolute;
				top:0;
				bottom:0;
				left:0;
				width:5px;
				background-color: @gradient-start-color;
			}

			div.message {
				width:calc(~"100% - 10px");
				margin-left:8px;
				div.body {
					font-size:16px;
					white-space: pre-line;
					word-wrap:break-word;
				}

				div.information {
					width:100%;
					font-size:12px;
					color:#fff;
					opacity:0.4;

					div.name {
						float:left
					}

					div.time {
						float:right;
					}
				}
			}
		}
	}

	form.messageEntry {
		input {
			float:left;
		}
		input[type=text] {
			width:calc(~"100% - 100px");
		}
		input[type=submit] {
			font-size:18px;
			margin:8px 0 0 0;
		}
		height:64px;
	}
}