@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular-webfont.eot');
  src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Regular-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Light-webfont.eot');
  src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Light-webfont.woff') format('woff'), url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-ExtraBold-webfont.eot');
  src: url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'), url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'), url('../fonts/OpenSans-ExtraBold-webfont.svg#open_sanslight') format('svg');
  font-weight: 900;
  font-style: normal;
}
/* Some functions ... */
/* Colors */
/* Media Query Breakpoints */
/* Metro IE viewport fix */
@-ms-viewport {
  width: device-width !important;
}
html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
body {
  background-color: #000;
  color: #fff;
  font-family: 'Open Sans';
  /* Scrollbar styles for IE */
  scrollbar-base-color: #ff4ceb;
  scrollbar-face-color: #ff4ceb;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #ff4ceb;
  scrollbar-darkshadow-color: #808080;
}
/* Scrollbars for webkit browsers */
::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #ff4ceb;
}
::-webkit-scrollbar-button {
  color: #ff4ceb;
}
/* Input Styles */
input {
  font-family: 'Open Sans';
  font-weight: 100;
  opacity: 0.65;
  color: #fff;
  font-size: 15px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  padding: 5px 6px;
  margin: 14px 8px;
  -webkit-transition: opacity 200ms ease-out, border-color 200ms ease-out;
  -moz-transition: opacity 200ms ease-out, border-color 200ms ease-out;
  -o-transition: opacity 200ms ease-out, border-color 200ms ease-out;
  transition: opacity 200ms ease-out, border-color 200ms ease-out;
}
input:hover {
  opacity: 1;
}
input:focus {
  opacity: 1;
  border-color: #ffc831;
}
input.error {
  border-bottom-color: red;
}
input[type=submit] {
  cursor: pointer;
  color: #ff4ceb;
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 15px;
  text-decoration: none;
  text-transform: lowercase;
  background-color: transparent;
  border: 0;
  margin: 3px;
  opacity: 0.65;
  -webkit-transition: opacity 200ms ease-out;
  -moz-transition: opacity 200ms ease-out;
  -o-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
}
input[type=submit]:hover {
  opacity: 1;
}
button {
  font-family: 'Open Sans';
  font-size: 20px;
  background-color: transparent;
  color: #ff4ceb;
  border: none;
  cursor: pointer;
  padding: 2px 8px;
  opacity: 0.7;
  -webkit-transition: opacity 200ms ease-out;
  -moz-transition: opacity 200ms ease-out;
  -o-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
}
button:hover {
  opacity: 1.0;
}
button.default {
  border-bottom: 2px dotted #ff4ceb;
}
a {
  color: #ff4ceb;
  text-decoration: none;
  opacity: 0.7;
  -webkit-transition: opacity 200ms ease-out;
  -moz-transition: opacity 200ms ease-out;
  -o-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
}
a:hover {
  opacity: 1.0;
}
/* Global Progress Indicator */
@-moz-keyframes progress-indicator {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: 48px;
  }
}
@-webkit-keyframes progress-indicator {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: 48px;
  }
}
@keyframes progress-indicator {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: 48px;
  }
}
div.progress {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 18px;
  background: url(../svg/progress_stripe.svg);
  z-index: 1000;
  opacity: 0.6;
  animation-name: progress-indicator;
  -webkit-animation-name: progress-indicator;
  animation-duration: 1600ms;
  -webkit-animation-duration: 1600ms;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-direction: normal;
  -webkit-animation-direction: normal;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-play-state: running;
  -webkit-animation-play-state: running;
  -webkit-transition: top 200ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: top 200ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: top 200ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: top 200ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
div.progress.closed {
  top: -18px;
  opacity: 0;
}
/* Default page container. */
div.page {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
div.page a.back {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  z-index: 5;
  border: 3px solid #fff;
  border-radius: 28px;
  background-color: transparent;
  background-image: url(../svg/arrow_back_white.svg);
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: 8px 8px;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 200ms ease-out;
  -moz-transition: opacity 200ms ease-out;
  -o-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
}
div.page a.back:hover {
  opacity: 1.0;
}
div.page a.back:active {
  opacity: 1.0;
  background-color: #fff;
  background-image: url(../svg/arrow_back_black.svg);
}
div.page h1.title {
  position: absolute;
  top: 0;
  right: 100%;
  font-family: 'Open Sans';
  font-size: 116px;
  -webkit-transform: rotate(-90deg) translateY(-36px);
  -moz-transform: rotate(-90deg) translateY(-36px);
  -ms-transform: rotate(-90deg) translateY(-36px);
  -o-transform: rotate(-90deg) translateY(-36px);
  transform: rotate(-90deg) translateY(-36px);
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
  transform-origin: right top;
  opacity: 0.5;
  margin: 72px 0 0 0;
  padding: 0;
  font-weight: 100;
  text-transform: lowercase;
  white-space: nowrap;
}
@media (max-width: 768px) {
  div.page h1.title {
    position: absolute;
    top: -4px;
    left: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    font-size: 48px;
    margin: 0 0 0 64px;
  }
}
/* Dark overlay to render something on top of */
div.darkOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.8;
  z-index: 10;
}
/* Default dialog container. */
div.dialog {
  position: fixed;
  top: 0;
  width: 800px;
  left: 50%;
  margin-left: -400px;
  bottom: 0;
  background-color: #000;
  z-index: 15;
}
@media (max-width: 768px) {
  div.dialog {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    width: auto;
    height: auto;
  }
}
div.dialog h1 {
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: 80px;
  text-transform: lowercase;
  margin: 0 16px;
  height: 96px;
  padding-top: 24px;
  line-height: 1;
}
div.dialog div.separator {
  height: 6px;
  width: 100%;
  background-color: #ff4ceb;
  background-image: -webkit-gradient(linear, left middle, right middle, from(#ffc831), to(#ff4ceb));
  background-image: -webkit-linear-gradient(left, #ffc831, #ff4ceb);
  background-image: -moz-linear-gradient(left, #ffc831, #ff4ceb);
  background-image: -o-linear-gradient(left, #ffc831, #ff4ceb);
  background-image: -ms-linear-gradient(left, #ffc831, #ff4ceb);
  background-image: linear-gradient(left, #ffc831, #ff4ceb);
}
div.dialog div.content {
  height: calc(100% - 248px);
  padding: 2px 32px;
}
div.dialog ul.actions {
  height: 64px;
  margin-bottom: 64px;
  text-align: center;
  margin: 0;
  padding: 0;
}
div.dialog ul.actions li {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0 18px;
}
/* Log In Dialog */
#LogIn {
  width: 480px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -240px;
}
@media (max-width: 768px) {
  #LogIn {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    width: auto;
    height: auto;
    text-align: center;
    overflow-y: auto;
  }
}
#LogIn h1 {
  display: block;
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: 60px;
  margin: 56px 0 0 0;
  float: left;
}
@media (max-width: 768px) {
  #LogIn h1 {
    float: none;
    text-align: center;
  }
}
#LogIn div.separator {
  height: 100%;
  width: 3px;
  margin: 0 16px 0 32px;
  float: left;
  background-color: #ff4ceb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc831), to(#ff4ceb));
  background-image: -webkit-linear-gradient(top, #ffc831, #ff4ceb);
  background-image: -moz-linear-gradient(top, #ffc831, #ff4ceb);
  background-image: -o-linear-gradient(top, #ffc831, #ff4ceb);
  background-image: -ms-linear-gradient(top, #ffc831, #ff4ceb);
  background-image: linear-gradient(top, #ffc831, #ff4ceb);
}
@media (max-width: 768px) {
  #LogIn div.separator {
    float: none;
    height: 3px;
    width: 100%;
    margin: 8px 0px;
    background-color: #ff4ceb;
    background-image: -webkit-gradient(linear, left middle, right middle, from(#ffc831), to(#ff4ceb));
    background-image: -webkit-linear-gradient(left, #ffc831, #ff4ceb);
    background-image: -moz-linear-gradient(left, #ffc831, #ff4ceb);
    background-image: -o-linear-gradient(left, #ffc831, #ff4ceb);
    background-image: -ms-linear-gradient(left, #ffc831, #ff4ceb);
    background-image: linear-gradient(left, #ffc831, #ff4ceb);
  }
}
#LogIn form {
  display: block;
  margin-top: 20px;
  float: left;
}
@media (max-width: 768px) {
  #LogIn form {
    float: none;
  }
}
#LogIn form input {
  width: 200px;
  font-size: 20px;
  -webkit-transition: opacity 200ms ease-out;
  -moz-transition: opacity 200ms ease-out;
  -o-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
}
#LogIn a.register {
  color: #ff4ceb;
  font-size: 12px;
  text-decoration: none;
}
/* Register Dialog */
#Register {
  width: 360px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -125px 0 0 -180px;
}
#Register input[type=submit] {
  position: absolute;
  right: 0;
  top: 112px;
  font-size: 22px;
}
h1.listTitle {
  font-family: 'Open Sans';
  font-weight: 900;
  font-size: 30px;
  text-transform: uppercase;
  padding: 0;
  margin: 32px 0 6px 12px;
}
h1.listTitle div.gradient {
  float: left;
  display: block;
  height: 34px;
  width: 10px;
  margin: 4px 12px 0 8px;
  background-color: #ff4ceb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc831), to(#ff4ceb));
  background-image: -webkit-linear-gradient(top, #ffc831, #ff4ceb);
  background-image: -moz-linear-gradient(top, #ffc831, #ff4ceb);
  background-image: -o-linear-gradient(top, #ffc831, #ff4ceb);
  background-image: -ms-linear-gradient(top, #ffc831, #ff4ceb);
  background-image: linear-gradient(top, #ffc831, #ff4ceb);
}
#MeTile {
  z-index: 10;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 48px;
  height: 48px;
  /* background-image:url(../img/me_temp.jpg); */
  background-color: #ff4ceb;
  background-size: contain;
  opacity: 0.6;
  -webkit-transition: opacity 300ms ease-out;
  -moz-transition: opacity 300ms ease-out;
  -o-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
}
#MeTile:hover {
  opacity: 1;
}
#MeTile:hover .meText {
  opacity: 1;
}
#MeTile:hover .dimmer {
  opacity: 0.6;
}
#MeTile .dimmer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-out;
  -moz-transition: opacity 300ms ease-out;
  -o-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
}
#MeTile .meText {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  font-family: 'Open Sans';
  font-weight: 900;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
  line-height: 2.5;
  color: #ff4ceb;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-out;
  -moz-transition: opacity 300ms ease-out;
  -o-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
}
#PadsList {
  width: 300px;
  position: absolute;
  left: 128px;
  height: 100%;
}
@media (max-width: 768px) {
  #PadsList {
    left: 0px;
    right: 0px;
    top: 32px;
  }
}
#PadsList div.invites {
  margin-left: 32px;
  cursor: pointer;
  line-height: 3;
}
#PadsList div.invites a.inviteButton {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  border: 3px solid #fff;
  margin-right: 8px;
  border-radius: 26px;
  background-color: transparent;
  background-image: url(../svg/icon_add_pad_white.svg);
  background-size: 26px;
  background-repeat: no-repeat;
  background-position: 7px 6px;
  opacity: 0.5;
  -webkit-transition: opacity 200ms ease-out;
  -moz-transition: opacity 200ms ease-out;
  -o-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
}
#PadsList div.invites a.inviteButton:hover {
  opacity: 1.0;
}
#PadsList div.invites a.inviteButton:active {
  opacity: 1.0;
  background-color: #fff;
  background-image: url(../svg/icon_add_pad_black.svg);
}
#PadsList ul {
  margin: 28px 0 0 32px;
  padding: 0;
}
#PadsList ul li.add {
  margin-left: 4px;
  opacity: 0.2;
  -webkit-transition: opacity 300ms ease-out;
  -moz-transition: opacity 300ms ease-out;
  -o-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
  /* Plus Button */
}
#PadsList ul li.add:hover {
  opacity: 1;
}
#PadsList ul li.add:active a {
  background-color: #fff;
  background-image: url(../svg/plus_black.svg);
}
#PadsList ul li.add a {
  float: left;
  width: 36px;
  height: 36px;
  background-image: url(../svg/icon_add_pad_white.svg);
  background-size: 24px;
  background-position: 6px 6px;
  background-repeat: no-repeat;
  border: 3px solid #fff;
  border-radius: 24px;
}
#PadsList ul li.add a:active {
  background-color: #fff;
  background-image: url(../svg/icon_add_pad_black.svg);
}
#PadsList ul li.add .desc {
  float: left;
  height: 100%;
  padding: 12px 0 0 12px;
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: 16px;
}
#PadsList ul li.invite {
  list-style-type: none;
  display: block;
  width: 100%;
  height: 48px;
  margin: 16px 0;
}
#PadsList ul li.invite img {
  float: left;
  width: 48px;
  height: 48px;
  background-color: #ffc831;
  margin-right: 8px;
}
#PadsList ul li.invite .desc {
  float: left;
  width: calc(100% - 56px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#PadsList ul li.invite .desc .title {
  font-size: 18px;
  font-weight: 900;
}
#PadsList ul li.invite .desc .title .invtext {
  font-weight: 100;
}
#PadsList ul li.invite .desc button {
  font-size: 15px;
}
#PadsList ul li {
  cursor: pointer;
  list-style-type: none;
  display: block;
  width: 100%;
  height: 48px;
  margin: 16px 0;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: -moz-transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: -o-transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  /* Normal pad listings ... */
}
#PadsList ul li[class=pad]:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
#PadsList ul li img {
  float: left;
  width: 48px;
  height: 48px;
  background-color: #ff4ceb;
  margin-right: 8px;
}
#PadsList ul li div.desc {
  float: left;
  height: 100%;
}
#PadsList ul li div.desc .address {
  font-family: 'Open Sans';
  font-weight: 900;
  font-size: 18px;
  color: #fff;
}
#PadsList ul li div.desc .stats {
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: 14px;
  text-transform: lowercase;
  color: #fff;
}
#NewsList {
  position: absolute;
  left: 428px;
  right: 0;
  height: 100%;
}
@media (max-width: 768px) {
  #NewsList {
    display: none;
  }
}
ul.invitelist {
  margin: 24px 24px 6px 24px;
  padding: 0;
}
ul.invitelist li {
  list-style-type: none;
  margin: 8px 0;
}
ul.invitelist li div.info {
  display: inline-block;
  margin-right: 24px;
}
ul.invitelist li div.info span.name {
  font-family: 'Open Sans';
  font-weight: 900;
}
ul.invitelist li div.actions {
  display: inline-block;
  margin: 4px 0;
}
ul.invitelist li div.actions button {
  font-size: 18px;
}
#NewPad {
  width: 360px;
  height: 130px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -65px 0 0 -180px;
}
#NewPad input[type=submit] {
  position: absolute;
  right: 0;
  top: 50px;
  font-size: 22px;
}
#MeDialog div.usericon {
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: 32px;
  line-height: 96px;
  height: 96px;
  margin: 32px;
}
#MeDialog div.usericon input.displayname {
  font-size: 32px;
}
#MeDialog div.usericon img {
  display: block;
  float: left;
  width: 96px;
  height: 96px;
  margin-right: 12px;
  border-left-width: 16px;
  border-left-style: solid;
  background-color: #323232;
}
/* Pad Hub */
#MatesList {
  width: 220px;
  position: absolute;
  left: 128px;
  height: 100%;
  overflow: visible;
}
@media (max-width: 768px) {
  #MatesList {
    display: none;
  }
}
#MatesList ul {
  height: calc(100% - 98px);
  overflow-x: hidden;
  overflow-y: auto;
  margin: 28px 0 0 32px;
  padding: 0;
}
#MatesList ul li.add {
  margin-left: 4px;
  opacity: 0.2;
  -webkit-transition: opacity 300ms ease-out;
  -moz-transition: opacity 300ms ease-out;
  -o-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
  /* Plus Button */
}
#MatesList ul li.add:hover {
  opacity: 1;
}
#MatesList ul li.add:active a {
  background-color: #fff;
  background-image: url(../svg/plus_black.svg);
}
#MatesList ul li.add a {
  float: left;
  width: 36px;
  height: 36px;
  background-image: url(../svg/plus_white.svg);
  background-size: 24px;
  background-position: 6px 6px;
  background-repeat: no-repeat;
  border: 3px solid #fff;
  border-radius: 24px;
}
#MatesList ul li.add a:active {
  background-color: #fff;
  background-image: url(../svg/plus_black.svg);
}
#MatesList ul li.add .desc {
  float: left;
  height: 100%;
  padding: 12px 0 0 12px;
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: 16px;
}
#MatesList ul li {
  cursor: pointer;
  list-style-type: none;
  display: block;
  width: 100%;
  height: 42px;
  margin: 16px 0;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: -moz-transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: -o-transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  /* Normal user listings ... */
}
#MatesList ul li.typing {
  -webkit-transform: translateX(12px);
  -moz-transform: translateX(12px);
  -ms-transform: translateX(12px);
  -o-transform: translateX(12px);
  transform: translateX(12px);
}
#MatesList ul li[class=mate]:hover {
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  transform: scale(0.95);
}
#MatesList ul li div.usericon {
  width: 42px;
  height: 42px;
  border-left-style: solid;
  border-left-width: 6px;
  float: left;
}
#MatesList ul li div.usericon img {
  box-sizing: border-box;
  float: right;
  width: 42px;
  height: 42px;
  /* background-color: @gradient-end-color; */
  background-color: #323232;
}
#MatesList ul li div.name {
  float: left;
  margin-left: 8px;
  height: 100%;
  line-height: 1.9;
  width: calc(100% - 58px);
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: 20px;
  color: #fff;
  overflow-x: hidden;
}
#ChatPane {
  position: absolute;
  left: 348px;
  width: 400px;
  /* height:100%; */
  top: 0;
  bottom: 64px;
}
@media (max-width: 768px) {
  #ChatPane {
    left: 0;
    top: 32px;
    right: 0;
    bottom: 32px;
    width: auto;
  }
}
#ChatPane ul.chatlist {
  height: calc(100% - 134px);
  overflow-y: auto;
  margin: 28px 4px 4px 16px;
  padding: 0;
}
#ChatPane ul.chatlist li {
  position: relative;
  display: block;
  list-style-type: none;
  /* background-color:darken(@gradient-end-color,15%); */
  color: #fff;
  font-family: 'Open Sans';
  overflow: auto;
  margin: 16px 4px;
  padding: 6px 10px;
}
#ChatPane ul.chatlist li:first-child {
  margin-top: 0;
}
#ChatPane ul.chatlist li:last-child {
  margin-bottom: 0;
}
#ChatPane ul.chatlist li div.idstrip {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 5px;
  background-color: #ffc831;
}
#ChatPane ul.chatlist li div.message {
  width: calc(100% - 10px);
  margin-left: 8px;
}
#ChatPane ul.chatlist li div.message div.body {
  font-size: 16px;
  white-space: pre-line;
  word-wrap: break-word;
}
#ChatPane ul.chatlist li div.message div.information {
  width: 100%;
  font-size: 12px;
  color: #fff;
  opacity: 0.4;
}
#ChatPane ul.chatlist li div.message div.information div.name {
  float: left;
}
#ChatPane ul.chatlist li div.message div.information div.time {
  float: right;
}
#ChatPane form.messageEntry {
  height: 64px;
}
#ChatPane form.messageEntry input {
  float: left;
}
#ChatPane form.messageEntry input[type=text] {
  width: calc(100% - 100px);
}
#ChatPane form.messageEntry input[type=submit] {
  font-size: 18px;
  margin: 8px 0 0 0;
}
/*# sourceMappingURL=app.css.map */